@model CreateQuoteDto
@{
    ViewData["Title"] = "CreateQuote";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">

    <div class="container">
        <br /><br />
        <label>Alıntı</label>
        <input type="text" asp-for="Sentence" class="form-control" />
        <br />
        <label>Yazar</label>
        <input type="text" asp-for="Author" class="form-control" />
        <br />
        <button class="btn btn-success">Ekle</button>
    </div>

</form>