@model List<ResultQuoteDto>
@{
    ViewData["Title"] = "Alıntılar";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<div class="container">
    <br /><br />

    <table class="table table-bordered table-striped">

        <tr>
            <th style="width:1%">#</th>
            <th>Alıntı</th>
            <th>Yazar</th>
            <th style="width:5%">İşlemler</th>
        </tr>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Sentence</td>
                <td>@item.Author</td>
                <td>
                    <a href="/Quote/DeleteQuote/@item.QuoteId" class="btn btn-danger">🗑️</a>
                    <a href="/Quote/UpdateQuote/@item.QuoteId" class="btn btn-info">✏️</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Quote/CreateQuote" class="btn btn-primary">Yenİ Alıntı Ekle</a>

</div>