@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />

    <table class="table table-bordered table-striped">

        <tr>
            <th style="width:1%">#</th>
            <th>Kategori Adı</th>
            <th style="width:5%">İşlemler</th>
        </tr>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CategoryName</td>
                <td>
                    <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">🗑️</a>
                    <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-info">✏️</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Category/CreateCategory" class="btn btn-primary">Yenİ Kategorİ Ekle</a>

</div>