@model BookStore.WebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "Kategoriler";
    ViewData["Title2"] = "Kategori Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">

    <div class="container">
        <br /><br />
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-success">Kategori Ekle</button>
    </div>

</form>