@model CreateCategoryDto
@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">

    <div class="container">
        <br /><br />
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-success">Ekle</button>
    </div>

</form>