@model CreateUserMailDto
@{
    ViewData["Title"] = "Yeni E-posta Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">

    <div class="container">
        <br /><br />
        <label>E-posta Adresi</label>
        <input type="text" asp-for="UserEmail" class="form-control" />
        <br />
        <button class="btn btn-success">Ekle</button>
    </div>

</form>