
@*
    _DefaultSubscribeComponent
*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">

                        <div class="title-element">
                            <h2 class="section-title divider">Bültenimize abone olun</h2>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="subscribe-content" data-aos="fade-up">
                            <p>
                                Bültenimize abone olun, en güncel kitap önerileri, özel yazar söyleşileri ve size özel indirim fırsatlarını kaçırmayın.
                            </p>
                            <form id="form">
                                <input type="text" id="useremail" placeholder="E-posta adresinizi girin">
                                <button class="btn-subscribe" type="button" id="sendbutton">
                                    <span>gönder</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script>

    $("#sendbutton").click(function (event) {
        event.preventDefault();
        let UserMail = $("#useremail").val();

        if (!UserMail) {
            swal("Uyarı", "Lütfen e-posta adresinizi girin.", "warning");
            return;
        }

        $.ajax({
            url: "/Subscribe/AddNewMail/",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ UserMail: UserMail }),
            success: function (data) {
                swal({
                    title: "Başarılı",
                    text: "'" + data.UserMail + "' başarılı bir şekilde kaydedilmiştir.",
                    icon: "success"
                });
                $("#useremail").val('');
            },
            error: function () {
                swal("Hata", "Yanlış veya hatalı e-posta girdiniz.", "error");
            }
        });
    });

</script>

</section